[submodule "nvim"]
	path = nvim
	url = https://github.com/b1nhack/nvim.git
[submodule "zsh/plugins/fsh"]
	path = zsh/plugins/fsh
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting
[submodule "zsh/plugins/zsh-fsh"]
	path = zsh/plugins/zsh-fsh
	url = https://github.com/catppuccin/zsh-fsh.git
[submodule "bat/themes/bat"]
	path = bat/themes/bat
	url = https://github.com/catppuccin/bat.git
[submodule "delta/delta"]
	path = delta/delta
	url = https://github.com/catppuccin/delta.git
[submodule "gitui/gitui"]
	path = gitui/gitui
	url = https://github.com/catppuccin/gitui.git
[submodule "zsh/plugins/zsh-autocomplete"]
	path = zsh/plugins/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git
