[submodule "zsh/plugins/fsh"]
	path = zsh/plugins/fsh
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting
[submodule "zsh/plugins/zsh-fsh"]
	path = zsh/plugins/zsh-fsh
	url = https://github.com/catppuccin/zsh-fsh.git
[submodule "bat/themes/bat"]
	path = bat/themes/bat
	url = https://github.com/catppuccin/bat.git
[submodule "delta/delta"]
	path = delta/delta
	url = https://github.com/catppuccin/delta.git
[submodule "zsh/plugins/zsh-autocomplete"]
	path = zsh/plugins/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git
[submodule "zsh/plugins/zsh-history-substring-search"]
	path = zsh/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "eza/eza-themes"]
	path = eza/eza-themes
	url = https://github.com/eza-community/eza-themes
[submodule "zsh/plugins/nix-zsh-completions"]
	path = zsh/plugins/nix-zsh-completions
	url = https://github.com/nix-community/nix-zsh-completions.git
