fsh/catppuccin-macchiato.ini
bat/themes/Catppuccin\ Macchiato.tmTheme
kitty/current-theme.conf
kitty/get_layout.py
kitty/pass_keys.py
zsh/.zcompdump*
eza/theme.yml
nvim/

.gsd-keyboard.settings-ported
autostart/
dconf/
evolution/
gnome-initial-setup-done
gtk-3.0/
ibus/
mimeapps.list
monitors.xml
mozilla/
org.gnome.Ptyxis/
pulse/
systemd/
user-dirs.dirs
user-dirs.locale
